@using ScheduleManager.Data.Enums
@model Lesson

@{
    ViewData["Title"] = "Edit the Lesson";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserId" class="form-control" hidden />

    <div class="form-group my-1">
        <label asp-for="Day" class="control-label"></label>
        <select asp-for="Day" class="form-control form-select" id="day" data-selected="@ViewBag.Today">
            <option value="">Choose a day</option>
            @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
            {
                <option value="@day">@day</option>
            }
        </select>
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="LessonNumber" class="control-label">Lesson number</label>
        <select asp-for="LessonNumber" class="form-control form-select">
            <option value="">Choose a lesson number</option>
            @foreach (byte cls in ViewBag.Classes)
            {
                <option value="@cls">@cls</option>
            }
        </select>
        <span asp-validation-for="LessonNumber" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="DisciplineId" class="control-label">Discipline</label>
        <select asp-for="DisciplineId" class="form-control form-select">
            @foreach (Discipline discipline in ViewBag.Disciplines)
            {
                <option value="@discipline.Id">@discipline.Name</option>
            }
        </select>
    </div>

    <div class="form-group my-1">
        <label asp-for="Teacher" class="control-label"></label>
        <input asp-for="Teacher" class="form-control" />
        <span asp-validation-for="Teacher" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="Repetition" class="control-label"></label>
        <select asp-for="Repetition" class="form-control form-select">
            <option value="">Choose a repetition</option>
            @foreach (Repetition repetition in Enum.GetValues(typeof(Repetition)))
            {
                <option value="@repetition">@repetition</option>
            }
        </select>
        <span asp-validation-for="Repetition" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="LessonType" class="control-label"></label>
        <select asp-for="LessonType" class="form-control form-select">
            <option value="">Choose a lesson type</option>
            @foreach (LessonType type in Enum.GetValues(typeof(LessonType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <span asp-validation-for="LessonType" class="text-danger"></span>
    </div>

    <div class="justify-content-end d-flex gap-2">
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <div class="form-group my-3">
                <input type="submit" value="Delete" class="btn btn-danger px-3" />
            </div>
        </form>
        <div class="form-group my-3">
            <input type="submit" value="Save" class="btn btn-primary px-5" />
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const daySelect = document.getElementById("day");
        const selectedType = typeSelect.getAttribute("data-selected");
        if (selectedType) {
            typeSelect.value = selectedType;
        }
    });
</script>