@model IEnumerable<ScheduleManager.Data.Models.Discipline>

@{
    ViewData["Title"] = "Disciplines";
}

<a asp-action="Create" asp-route-userId="@ViewBag.UserId" class="btn btn-primary sticky-button">
    <i class="fa-solid fa-plus"></i>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-items-center">
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pencil fa-xl text-primary"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash fa-xl text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
