@using ScheduleManager.Data.Enums
@model ScheduleManager.Data.Models.Assignment

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input asp-for="UserId" class="form-control" hidden />
    <input name="userId" class="form-control" hidden value="@ViewBag.UserId" />

    <div class="form-group my-1">
        <label asp-for="IsDone" class="control-label">Is done</label>
        <input type="checkbox" asp-for="IsDone" class="form-control form-check-input" />
        <span asp-validation-for="IsDone" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="DisciplineId" class="control-label">Discipline</label>
        <select asp-for="DisciplineId" class="form-control form-select">
            @foreach (Discipline discipline in ViewBag.Disciplines)
            {
                <option value="@discipline.Id">@discipline.Name</option>
            }
        </select>
        <span asp-validation-for="Discipline" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="Type" class="control-label">Assignment type</label>
        <select asp-for="Type" class="form-control form-select">
            @foreach (AssignmentType type in Enum.GetValues(typeof(AssignmentType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <span asp-validation-for="Discipline" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group my-1">
        <label asp-for="DueDate" class="control-label"></label>
        <input type="date" asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group my-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
