@using ScheduleManager.Data.Enums
@model ScheduleManager.Data.Models.Assignment

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <form asp-action="" class="widget">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="UserId" hidden />
        <input asp-for="Id" hidden />

        <div class="my-2">
            <input asp-for="IsDone" class="form-check-input d-none" type="checkbox" />
            <label asp-for="IsDone" class="form-check-label"><h2>@ViewData["Title"]</h2></label>
        </div>

        <div class="my-2">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="DisciplineId" class="control-label"></label>
            <select asp-for="DisciplineId" class="form-control form-select">
                @foreach (Discipline discipline in ViewBag.Disciplines)
                {
                    <option value="@discipline.Id">@discipline.Name</option>
                }
            </select>
            <span asp-validation-for="Discipline" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control form-select">
                @foreach (AssignmentType type in Enum.GetValues(typeof(AssignmentType)))
                {
                    <option value="@type">@type</option>
                }
            </select>
            <span asp-validation-for="Discipline" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="DueDate" class="control-label"></label>
            <input type="date" asp-for="DueDate" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <div class="justify-content-end d-flex gap-2 mt-3">
            <input type="submit" value="Delete" formaction="delete" class="btn btn-danger px-3" />
            <input type="submit" value="Save" formaction="edit" class="btn btn-primary px-5" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
